DATABASE_URL=postgresql://finplanner_user:finplanner_pass@localhost:5432/finplanner_db
SECRET_KEY=your-secret-key-here-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
API_KEY=Your_api_token
BASE_URL=https://foundation-models.api.cloud.ru/v1
MODEL=ai-sage/GigaChat3-10B-A1.8B